# Dependency directories
node_modules/

# Coverage directory
coverage/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temp directories
tmp/
temp/
page-loader-*/

# IDE
.vscode/
.idea/
*.swp
*.swo

package-lock.json/
